_DeploymentBin_ConsoleClient/
_DeploymentBin_GUIClient/
_DeploymentBin_Server/
_ConfigFiles/ServersList.ini
Project.Lock
_ConfigFiles/Repository.ini
_ConfigFiles/Repository.ini.bak
_ConfigFiles/SFStudio.exe.log
